# Virtual environment
myenv/

# Compiled Python files
*.pyc

# Environment variables file
*.cfg

#db files
*.db
*.sqllite3

#test file
Mark.json

#the guitar scale png because it will always change
test.png
