# Virtual environment
myenv/

# Compiled Python files
*.pyc

# Environment variables file
*.cfg
.flaskenv

#db files
*.db
*.sqllite3
*.sql

#test file
Mark.json
Kryz.json

#the guitar scale png because it will always change
test.png


