/* Define a CSS class to set the background image */
.stravalogo {
    background-image: url('/static/just5klogo.png');
    background-position: center;
    /* background-size: cover; */
    background-size: 90% 100%;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
}