/* Define a CSS class to set the background image */
.stravalogo {
    background-image: url('/static/just5klogo.png'); /* Path to your image */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;

    /* Styling the jumbotron to fill its container */
    width: 100%; /* Ensure full width */
    height: 75%; /* Allow dynamic height */
    height: 500px; /* Set a minimum height */
    /* border: 5px solid black; Optional border */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
}

#header {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: left;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
}


h3 {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #333;
    text-align: center;
}

    /* Basic table styling */
    table {
        width: 100%;
        border-collapse: collapse; /* Makes sure table borders are collapsed */
        margin-top: 20px;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 10px;
        text-align: left; /* Aligns text to the left in cells */
        border-bottom: 1px solid #ddd; /* Light grey border for separation */
    }

    th {
        background-color: #f4f4f4; /* Lighter background for the header */
        font-weight: bold;
    }

    td {
        background-color: #fafafa; /* Slight background color for rows */
    }

    tr:nth-child(even) td {
        background-color: #f9f9f9; /* Alternating row colors */
    }

    tr:hover td {
        background-color: #eaeaea; /* Highlight row on hover */
    }