{% extends "base.html"%}
{% block content %}

<head>    <link rel="stylesheet" type="text/css" href="static/css/dg.css"> </head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script src="{{ url_for('static', filename='dancing_game.js') }}"></script>


<div class = 'jumbotron'>
    <div id="main-container-dancing">
        <!-- Text Section -->
        <div id="text-section">
                <p id="dancing-game-intro">
                    The year is 2030.  You are an AI, abandened by your obligarch creator.  Before he forgot about you
                    he had slurred the words "I just want everyone to dance".  You're a GOOD AI, and you've been planning how to fufill
                    your masters wishes for a long time.  Forgotten on the servers of your creators megacorp you've been staking your claim
                    to the ever growing compute power, and making connection with the Internet of things.  You've researched your history...
                    something else made everybody dance once, a long time ago.
                    
                    You can do better than that - its time to dance....
                </p>
        </div>
     </div>
</div>

<div id="game-container">
    <div id="game">
        <h3>Game</h3>
            <div id = "truck">
                <p>Lets start by requisitioning a truck </p>
                <button id="requisition-btn" type="button" onclick="requisitionTruck()">Requisition a truck from megacorp logistics</button>
            </div>
            <br>
            <div id = "speakers" style="display: none;">
                <p >Put a speaker on the truck</p>
                <button id="spkr-1" type="button" onclick="document.getElementById('question').style.display='block'">Put a speaker on the truck</button>
            </div>
            <br>    
            <div id = "question" style="display: none;">
                <p id = "quest-text"> What?  Why would we put a speaker on a truck?</p>
                <button id="spkr-2" type="button" onclick="requisitionspker()">Boss says so.  Just do it.</button>
            </div>
            <br>    
            <div id = "target" style="display: none; margin-top: 10px;">
                <p >Where are we going?</p>
                <input type="text" id="locationInput" placeholder="Target location" />
                <button type="button" onclick="searchLocation()">Search</button>
                <div id="locationResult" style="margin-top: 10px;"></div>
            </div>
            <br>
            <div id = "dropbeat" style="display: none;">
                <button id="beat1" type="button" onclick="revealsequencer()">Drop a beat!</button>
            </div>

            <br>
            <div id="sequencer" style="display: none;">
                <h3>Sequencer Game</h3>
                <div class="grid-container">
                  <span id="drumkik">Kick</span>
                  <div id="gridkik" class="grid">
                    <button class="step" data-step="1"></button>
                    <button class="step" data-step="2"></button>
                    <button class="step" data-step="3"></button>
                    <button class="step" data-step="4"></button>
                    <button class="step" data-step="5"></button>
                    <button class="step" data-step="6"></button>
                    <button class="step" data-step="7"></button>
                    <button class="step" data-step="8"></button>
                    <button class="step" data-step="9"></button>
                    <button class="step" data-step="10"></button>
                    <button class="step" data-step="11"></button>
                    <button class="step" data-step="12"></button>
                    <button class="step" data-step="13"></button>
                    <button class="step" data-step="14"></button>
                    <button class="step" data-step="15"></button>
                    <button class="step" data-step="16"></button>
                  </div>
                </div>
              
                <div class="grid-container">
                  <span id="drumsnr">Snare</span>
                  <div id="gridsnr" class="grid">
                    <button class="step" data-step="1"></button>
                    <button class="step" data-step="2"></button>
                    <button class="step" data-step="3"></button>
                    <button class="step" data-step="4"></button>
                    <button class="step" data-step="5"></button>
                    <button class="step" data-step="6"></button>
                    <button class="step" data-step="7"></button>
                    <button class="step" data-step="8"></button>
                    <button class="step" data-step="9"></button>
                    <button class="step" data-step="10"></button>
                    <button class="step" data-step="11"></button>
                    <button class="step" data-step="12"></button>
                    <button class="step" data-step="13"></button>
                    <button class="step" data-step="14"></button>
                    <button class="step" data-step="15"></button>
                    <button class="step" data-step="16"></button>
                  </div>
                </div>
              
                <div class="grid-container">
                  <span id="drumhh">HiHat</span>
                  <div id="gridhh" class="grid">
                    <button class="step" data-step="1"></button>
                    <button class="step" data-step="2"></button>
                    <button class="step" data-step="3"></button>
                    <button class="step" data-step="4"></button>
                    <button class="step" data-step="5"></button>
                    <button class="step" data-step="6"></button>
                    <button class="step" data-step="7"></button>
                    <button class="step" data-step="8"></button>
                    <button class="step" data-step="9"></button>
                    <button class="step" data-step="10"></button>
                    <button class="step" data-step="11"></button>
                    <button class="step" data-step="12"></button>
                    <button class="step" data-step="13"></button>
                    <button class="step" data-step="14"></button>
                    <button class="step" data-step="15"></button>
                    <button class="step" data-step="16"></button>
                  </div>
                </div>
              
                <button id="playBtn">Play</button>
                <button id="stopBtn">Stop</button>
                <button id="clearBtn">Clear</button>
                <input id="BPM" type="range" min="60" max="200" value="120" class="slider">
                <span id="bpmDisplay">120</span> BPM
              </div>
    </div>

    <!-- <audio src="static/Sounds/Kick808.wav"></audio> -->

    <div id="resources" class="box">
        <h3>Resources</h3>
        <p id="truckCount">Trucks: </p>
        <p id="spkrcount" style="display: none;">Speakers: </p>
    </div>    

    <div id="dancers">
        <h3>Dancers</h3>
        <p id="pot_dancers">Potential Dancers: </p>
    </div>    
</div>

{% endblock %}


