{% extends "base.html"%}
{% block content %}

<head>    <link rel="stylesheet" type="text/css" href="static/css/ttracker.css"> </head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<div class = 'jumbotron'>
    <div id="main-container-dancing">
        <!-- Text Section -->
        <div id="text-section">
                <p id="dancing-game-intro">
                    The year is 2030.  You are an AI, abandened by your obligarch creator.  Before he forgot about you
                    he had slurred the words "I just want everyone to dance".  You're a GOOD AI, and you've been planning how to fufill
                    your masters wishes for a long time.  Forgotten on the servers of your creators megacorp you've been staking your claim
                    to the ever growing compute power, and making connection with the Internet of things.  You've researched your history...
                    something else made everybody dance once, a long time ago.
                    
                    You can do better than that - its time to dance....
                </p>
        </div>


{% endblock %}