{% extends "base.html"%}
{% block content %}
<head>    <link rel="stylesheet" type="text/css" href="static/css/ttracker.css"> </head>


<div class='jumbotron'>

    <h1>Takeaway Tracker</h1>

    <br>
    <br>

    <form method="POST" action="/Takeaway" id="taway-form">
        <label for="Date">When</label>
        <input type="text" name="Date" required>
        <br>
        <label for="Where">Where</label>
        <input type="text" name="Where" required>
        <br>
        <label for="Cost">How Much?</label>
        <input type="text" name="Cost" required>
        <br>
    
        <input type="submit" value="Add to the list">
    </form>

    <div class="container">
        <br>
        <br>
        <br>
        <h1>You've spent {{totalspend}} on takeaways so far this year</h1>
        <br>
        <br>
        <br>

        {% set percentage_spent = (totalspend / 15000) * 100 if target_value != 0 else 0 %}
    
        <h1>
            The amount you've spent is {{ percentage_spent | round(2) }}% of a house deposit of £15000.
        </h1>
    </div>


</div>

    <div class="container">
        <table id="takeaway-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Where</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record[1] }}</td>  <!-- Date -->
                    <td>{{ record[2] }}</td>  <!-- Where -->
                    <td>{{ record[3] }}</td>  <!-- Cost -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

